body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
  font-family: 'Nanum Gothic', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e1ecf2;
}

.wrapper {
  margin: 10px;
}

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
margin-left: -18vw;
}

.wrapper .top_navbar .slide-menu {
  width: 70px;
  height: 115%;
  /*약한 그린색  */
  background: #79CF9F;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .slide-menu div {
  width: 35px;
  height: 4px;
  /*약한 블루색 */
  background: #00008B;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 112%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover {
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
  color: #fff;
}

.wrapper .sidebar {
  position: fixed;
  top: 79px;
  left: 10px;
  background: #79CF9F;
  width: 190px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.sidebar-menu {
  margin-top: 21vw;

}


.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #00008B;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
    transform: translateY(257vh);
    margin-left: 200px;
    padding: 15vw;
    transition: all 0.3s ease;
    border-left: 66vw;
}

.main_container-h1 {
 color: black;
    font-size: 50px;
    font-family: monospace;
}

.main_container-hr {
border: 0;
    height: 6px;
    background: darkseagreen;

}

.wrapper .main_container .text {
  text-align: center;
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: (100% - 70px);
  margin-left: 70px;
}
.Container-bar {
    margin-top: 24vw;
    transform: translate(9vw, -17vw);
}



 
/* border효과 한쪽 left */
.Container-bar-li-left {
  border-radius: 10px 30px;
}
.Container-bar ul {
  display: flex;
}
.Container-bar ul li {
  background: #00008B;
  display: block;
}
.Container-bar ul li:hover {
  background: #79CF9F;
  color: 111;
}
.Container-bar ul li a:hover {
  color: #111;
}
.Container-bar .title {
  font-weight: bold;
  font-size: large;
}
.Container-bar ul li a {
  display: block;
  padding: 17px;
  color: #fff;
  position: relative;
  transform: translateX(125px);
  margin-right: 11vw;
  color: #fff;
  white-space: nowrap;
}
/*Container-bar end */
.Shortchallenge-container{
	background-color : white;
	transform: translate(-8vw, -12vw);
}
.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Right{
	    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#challenge_name{
	border: 0;
}
/*기간 챌린지 관련*/
.panel, .flip {
	padding: 5px;
	text-align: center;
	border: solid 2px black;
}
.panel {
	display: none;
}
/*챌린지 관리(updateChallenge) 관련*/
.update{
        background-color: #E1ECF2;
    /* border: 0; */
    border-radius: 9px;
    outline: 0;
    font-size: 25px;
    /* margin-left: 27vw; */
    /* padding-left: 4px; */
    transform: translateY(-4px);
}

.hidden_id {
	display: none;
}
.updateChallenge-container {
	font-size: 25px;
	    margin-left: 0.1vw;
}
/*챌린지 등록(insert) 관련*/
textarea {
	resize: none;
}
#name {
	width: 70vw;
	height: 2vw;
}
#content{
	width: 70vw;
	height: 25vw;
	
}
#modifychallengeform-container {
	background-color : white;
	transform: translate(3vw, -3vw);
}
.box{
        background-color: white;
    margin-top: -13vw;
    transform: translateX(74px);
    width: 63vw;
    height: 29vw;
}
#shortchallenge-container{
	font-size: 25px;
}
#pageBar{
        margin-left: 30vw;
    margin-top: 4vw;
    font-size: 30px;
}
.li{
	    text-decoration: none;
    border-bottom: 3px solid gray;
 padding-top: 49px;
}
.join{
	      transform: translateY(2px);
    height: 25px;
    width: 50px;
}
#loginMember-Nickname{
	font-size: 25px;
}
.li-class1{
	margin-left: -1vw;
    /* margin-top: 1vw; */
    /* margin-bottom: 1vw; */
    transform: translateY(31px);
}
.submit{
	font-size: 20px;
}
