@charset "UTF-8";
section#board-container{
	width:60vw;
	height:72vh; 
	margin:0 auto; 
	text-align:center;
	background-color: white;
	border-radius: 10%;
	padding: 3vw 5vh;
	}
/*게시글 작성/상세보기 테이블*/
table#tbl-board-view {
	width:80%; 
	margin:0 auto; 
	border:1px solid black; 
	border-collapse:collapse;
	border-left: none;  
	border-right: none; 
}
table#tbl-board-view th {
	/* width: 150px; */ 
	border:1px solid; 
	padding: 10px 0; 
	text-align:center; 
	border-left: none;  
	border-right: none;  
} 
table#tbl-board-view td {
	border:1px solid; 
	padding: 5px 0; 
	text-align:left;
	border-left: none;  
	border-right: none;  
}

#changebtn{
	float:right;
	border: none;
	border-right: 1px solid black;
	background-color: white;
	outline: 0;
	padding: 0.3vw;
	margin-left: 0.5vw;
}

#delbtn{
	background-color: white;
	float:right;
	border: none;
	outline: 0;
	padding: 0.3vw;
}

#changebtn:hover{
	background-color: #00008B;	
	border: 1px soild #00008B;
	color:white;
	outline: 0;
}

#delbtn:hover{
	border: 1px soild #00008B;
	background-color: #00008B;
	color:white;
	outline: 0;
}


/* 댓글 작성 */
div.comment-container #btn-insert{
	width: 5vw;
    height: 5vh;
	color:#00008B; 
	background:#79CF9F; 
	position:relative; 
	top:-20px;
	border: none;
	}
div.comment-container #btn-insert:hover{
	width: 5vw;
    height: 5vh;
	color:#fff; 
	background:#00008B; 
	position:relative; 
	top:-20px;
	
	}
/*댓글테이블*/
table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse; } 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type {padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}
table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}
/*답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-insert-reply {width:60px; height:23px; color:white; background:#3300ff; position:relative; top:-5px; left:10px;}
/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-delete{display:inline;}