/*게시판*/
section#board-container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

section#board-container h2 {
	margin: 10px 0;
}

table#tbl-board {
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
	clear: both;
}

table#tbl-board th,
table#tbl-board td {
	border: 1px solid;
	padding: 5px 0;
	text-align: center;
}

/*글쓰기버튼*/
input#btn-add {
	float: right;
	margin: 0 0 15px;
}

/*페이지바*/
div#pageBar {
	margin-top: 10px;
	text-align: center;
	background-color: rgba(0, 188, 212, 0.3);
}

div#pageBar span.cPage {
	color: #0066ff;
	margin-right: 5px;
}

div#pageBar a {
	margin-right: 5px;
}

/*게시글 작성/상세보기 테이블*/
table#tbl-board-view {
	width: 700px;
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
}

table#tbl-board-view th {
	width: 150px;
	border: 1px solid gray;
	padding: 15px 0;
	text-align: center;
	background-color: #D8F0F2;

}

table#tbl-board-view td {
	border: 1px solid gray;
	padding: 10px 0 10px 15px;
	text-align: left;
	color: gray;
}

table#tbl-board-view [name=submit] {
	color: blue;
	background-color: rgb(121, 207, 159);
	border: none;
	padding: 10px;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bolder;
}

table#tbl-board-view p {
	margin-top: 5px;
}

/* 댓글 작성 */
div.comment-container #btn-insert {
	width: 60px;
	height: 50px;
	color: white;
	background: #3300ff;
	position: relative;
	top: -20px;
}