.board-container {
    width: 358px;
    height: 318px;
    background-color: white;
    display: inline-block;
    margin: 8px 6px;
    border-radius: 14px;
    border: 1px solid #dbedf6;
}

.img-container img {
    width: 222px;
    height: 114px;
}

.img-container {
	text-align: center;
    margin: 10px auto;
}

.status {
    width: 99px;
    color: aliceblue;
    background-color: #8198a3cc;
    border-radius: 10px;
    height: 31px;
    line-height: 31.5px;
    text-align: center;
    margin: 10px auto 0;
    box-shadow: 0px 1px 1.5px #4b6e7fe3;
}

.th {
    display: inline-block;
    width: 61px;
    display: inline-block;
    background-color: #e1ecf2;
    margin: 3px 0;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12.5px;
    text-align: center;
}

.td {
	display: inline-block;
    width: 231px;
    background-color: #f3f3f3;
    margin: 3px 0;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12.2px;
    padding : 0 7px;
}

.content-container {
	transform: translate(30px, -6px);
}

.page-bar {
    font-size: 19px;
    color: #101f26;
    background-color: #9aadb5;
    border-radius: 27px;
    height: 40px;
    line-height: 38.5px;
    width: 1075px;
    text-align: center;
    word-spacing: 59px;
    letter-spacing: 2px;
    transform: translate(344px, 25px);
    border: 1px solid white;
    font-weight: 500;
}


.container {
	padding : 2em;
}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 19px;
    font-weight: bold;
    margin: -10px auto;
    padding: 7px 479px;
    position: relative;
    text-transform: uppercase;
    background-color: #607d8b75;
    text-align: center;
    transform: translate(81px, 40px);
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #3c5059;
}

.btn::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn:hover:after {
  width: 100%;
}

.noBoard {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 25px;
    transform: translate(85px, 57px);
}

p .td-title {
    display: inline-block;
    width: 231px;
    background-color: #f3f3f3;
    margin: 3px 6px;
    border-radius: 5px;
    height: 38px;
    line-height: 19px;
    font-size: 12.2px;
    padding: 0px 7px;
}
p .th-title {
    display: inline-block;
    width: 61px;
    display: inline-block;
    background-color: #e1ecf2;
    margin: 3px 0;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    font-size: 12.5px;
    text-align: center;
    float: left;
    vertical-align: middle;
}

.wrapper2 {
    margin: 10px;
    width: 1122px;
    height: 667px;
    margin: 0 auto;
    transform: translate(82px, 21px);
}

.board-container:hover {
    transform: scale(1.055);
}

#tbl-board-view .btn3 {
    color: #000000;
    background-color: rgb(182 214 219);
    border: none;
    border-bottom: 1.3px solid rgb(155 182 195);
    font-size: 17px;
    border-radius: 20px;
    font-weight: bolder;
    width: 292px;
    height: 50px;
    margin: 2px;
}

table#tbl-board-view .btn2 {
    color: #000000;
    background-color: rgb(182 214 219);
    border: none;
    border-bottom: 1.3px solid rgb(155 182 195);
    font-size: 17px;
    border-radius: 20px;
    font-weight: bolder;
    width: 905px;
    height: 50px;
    margin: 2px;
}

a span{
/* 	color : black; */
}