body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e1ecf2;
}

.wrapper {
  margin: 10px;
}

/*상단바 지정 */
.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
  margin-left: -1.5vw;
}


.wrapper .top_navbar .slide-menu {
  width: 70px;
  height: 115%;
  /*약한 그린색  */
  background: #79CF9F;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .slide-menu div {
  width: 35px;
  height: 4px;
  /*약한 블루색 */
  background: #00008B;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 112%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover {
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
  color: #fff;
}

.wrapper .sidebar {
  position: fixed;
  top: 79px;
  left: 10px;
  background: #79CF9F;
  width: 190px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.sidebar-menu {
  margin-top: 21vw;

}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #00008B;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: (100% - 70px);
  margin-left: 70px;
}

/*Container-bar start */
.Container-bar {
  transform: translateY(-15vw);

}

/* border효과 한쪽 left */
.Container-bar-li-left {
  border-radius: 20px 20px 20px 20px;
}

.Container-bar ul {
  display: flex;
}

.Container-bar ul li {
  transform: translateX(155px);
  background: #00008B;
  display: block;
  padding: 0.2vw 33.3vw;
  margin-top: 5vw;
}

.Container-bar .title {
  font-weight: bold;
  font-size: 30px;
}

.Container-bar ul li a {
  display: block;
  padding: 17px;
  color: #fff;
  position: relative;
  transform: translateX(125px);
  margin-right: 11vw;
  color: #fff;
  white-space: nowrap;
}

/*Container-bar end */
/*img start*/
.img {
  margin-left: 48vw;
  transform: translateY(-14.5vw);
}

.img-h2 {
  font-size: 60px;
  margin-left: -8vw
}

/*img end*/
/* 회원정보 보기  start*/



.Board {
  position: relative;
  margin-left: -25vw;
  transform: translateY(-3vw);
}

.Board ul {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-41vw);
}

.Board ul li {
  margin-left: 13px;
  background-color: #d3d3d3;
}

.Board ul li a {
  position: absolutea;
  color: #111;
  margin-right: 24vw;
  display: block;
  padding: 10px;
}

.Board-h3 {
  border: 0;
  height: 7px;
  background: #ccc;
  transform: translateX(-13.5vw);
  margin-left: -26.8vw;
}

.form {
  margin-top: -2.3vw;
  transform: translateX(-13.3vw);
}

.form input {
  width: 100%;
  height: 50px;
  margin-top: -5px;
  border-radius: 10px;
}

.Board-1 {
  margin-left: -26.8vw;
  transform: translateY(4px);
}



.Board-1 ul {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-41.3vw);
}

.Board-1 ul li {
  background-color: #d3d3d3;
}

.Board-1 ul li a {
  color: #111;
  margin-right: 19.7vw;
  display: block;
  padding: 10px;
}

.form1 {
  margin-top: -2.2vw;
  transform: translateX(-14.1vw);
}

.form1 input {
  width: 97%;
  height: 50px;
  margin-top: -5px;
  border-radius: 10px;
}

.Board-2 {
  margin-left: -27.5vw;
  transform: translateY(63px);
}

.Board-2 ul {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  transform: translateX(-42.4vw);
}

.Board-2 ul li {
  background-color: #d3d3d3;
}

.Board-2 ul li a {
  color: #111;
  margin-right: 22.2vw;
  display: block;
  padding: 10px;
}

.form2 {
  margin-top: -2.5vw;
  transform: translateX(-15vw);
}

.form2 input {
  width: 99%;
  height: 50px;
  margin-top: -4px;
  border-radius: 10px;
}

.Board-3 {
  margin-left: -27.5vw;
  transform: translateY(123px);
}




.Board-3 ul {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-43vw);
}

.Board-3 ul li {
  margin-left: 3px;
  background-color: #d3d3d3;
}

.Board-3 ul li a {
  color: #111;
  margin-right: 18.7vw;
  display: block;
  padding: 10px;
}

.form3 {
  margin-top: -2.1vw;
  transform: translateX(-15vw);
}


.form3 input {
  width: 98%;
  height: 50px;
  margin-top: -9px;
  border-radius: 10px;
}

.Board-4 {
  margin-left: -27.9vw;
  transform: translateY(80px);

}

.Board-4 ul {
  margin-left: 0vw;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-42.8vw);
}

.Board-4 ul li {
  background-color: #d3d3d3;
  margin-top: 10.5vw;
}

.Board-4 ul li a {
  color: #111;
  margin-right: 23.7vw;
  display: block;
  padding: 10px;
}

.form4 {
  margin-top: -2.2vw;
  transform: translateX(-15.3vw);
}

.form4 input {
  width: 100%;
  height: 51px;
  margin-top: -10px;
  border-radius: 10px;
}

.Board-5 {
  margin-left: -27.7vw;
  transform: translateY(242px);
}

.Board-5 ul {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-43.4vw);
}

.Board-5 ul li {
  background-color: #d3d3d3;
  margin-left: 8px;
}

.Board-5 ul li a {
  color: #111;
  margin-right: 22.7vw;
  display: block;
  padding: 10px;
}

.form5 {
  margin-top: -2.5vw;
  transform: translateX(-15.6vw);
}

.form5 input {
  width: 99%;
  height: 50px;
  margin-top: -5px;
  border-radius: 10px;
}

.Board5-h3 {
  border: 0;
  height: 7px;
  background: #ccc;
  transform: translateX(-16vw);
  margin-left: -27vw;
  margin-top: -1px;
}